Repository wordpress-mobile/WordPress-iOS-Shared, pull requests merged in 2020-02, with the labels that each got.

#244 Migrates some code to Swift. Strips Gutenberg galleries from summaries.
  WordPressShared.xcodeproj/project.pbxproj
  WordPressShared/Core/Utility/NSString+Helpers.h
  WordPressShared/Core/Utility/NSString+Helpers.m
  WordPressShared/Core/Utility/NSString+Summary.swift
  WordPressShared/Core/Utility/String+RemovingMatches.swift
  WordPressShared/Core/Utility/String+StripGutenbergContentForExcerpt.swift
  WordPressShared/Core/Utility/String+StripShortcodes.swift
  WordPressSharedTests/NSStringHelpersTests.m
  WordPressSharedTests/NSStringSummaryTests.swift
  WordPressSharedTests/StringRemovingMatchesTests.swift
  WordPressSharedTests/StringStripGutenbergContentForExcerptTests.swift
Labels: enhancement

#249 Adds Post Sign Up Interstitial Tracks Events
  WordPressShared.podspec
  WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Analytics Events

#250 Add Session Template keys for SPT metrics on template selection
  WordPressShared.podspec
  WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Analytics Events, enhancement

#253 Add tracking events for Post Settings
  WordPressShared.podspec
  WordPressShared/Core/Analytics/WPAnalytics.h
Labels: Analytics Events
